<div >
    <h2>{{store.name}}</h2>

    <br />


    <div>
        <span>Filter: </span>
        <input type="search" ng-model="filterSettings.filterText" />
        <span>Sort By: </span>
        <select ng-model="sortProperty">
            <option value="">Unsorted</option>
            <option value="price">Price </option>
            <option value="quantity">Quantity</option>
            <option value="description">Description</option>
            <option value="unit">Unit</option>
        </select>
        <a ng-hide="sortDescending" href="" ng-click="toggleSortDirection()">Ascending</a><a ng-show="sortDescending" href="" ng-click="toggleSortDirection()">Descending</a>
        <a style="margin-left: 10px" href="" ng-click="addNewProduct()">Add Product</a>
    </div>

    <br />

    <div style="float: left; margin-bottom: 80px">
        <table>
            <thead>
            <th style="width: 200px; text-align: left">
                <a href="" ng-click="filterSettings.toggleFilteringForColumn('Description')">{{filterSettings.columnTitles['Description']}}</a>
            </th>
            <th class="numericItem">
                <a href="" ng-click="filterSettings.toggleFilteringForColumn('Quantity')">{{filterSettings.columnTitles['Quantity']}}</a>
            </th>
            <th class="numericItem">
                <a href="" ng-click="filterSettings.toggleFilteringForColumn('Price')">{{filterSettings.columnTitles['Price']}}</a>
            </th>
            <th>
                <a href="" ng-click="filterSettings.toggleFilteringForColumn('Unit')">{{filterSettings.columnTitles['Unit']}}</a>
            </th>
            <th style="width: 100px"></th>
            <th style="width: 100px"></th>
            </thead>
            <tbody>
                <tr ng-repeat="product in store.products | orderBy:sortProperty:sortDescending | filter:compareItemToFilter">
                    <td style="width: 200px">{{product.description}}</td>
                    <td class="numericItem">{{product.quantity}}</td>
                    <td class="numericItem">{{product.price}}</td>
                    <td class="numericItem">{{product.unit}}</td>
                    <td style="text-align: center"> <a class="listItemEditInteraction" href="" ng-click="editProduct(product)">Edit Product</a> </td>
                    <td style="text-align: center"> <a class="listItemEditInteraction" href="" ng-click="removeProduct(product)">Delete Product</a> </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

