<div >
    <h2>{{store.name}}</h2>

    <br />

    <div>
        <span>Filter: </span>
        <input type="search" ng-model="filterSettings.filterText" />
        <span>Sort By: </span>
        <select ng-model="sortProperty">
            <option value="">Unsorted</option>
            <option value="price">Price </option>
            <option value="quantity">Quantity</option>
            <option value="description">Description</option>
            <option value="unit">Unit</option>
        </select>
        <a ng-hide="sortDescending" ng-click="toggleSortDirection()" href="">Sort Descending</a>
        <a ng-show="sortDescending" ng-click="toggleSortDirection()" href="">Sort Ascending</a>
        <a ng-hide="productToUpdate" ng-click="addNewProduct()" class="addNewProductButton" href="">Add Product</a>
    </div>

    <br />

    <div style="float: left; margin-bottom: 80px">
        <table>
            <thead>
            <th class="productDescriptionCell">
                <a href="" ng-click="toggleFilteringForColumn('Description')">{{columnTitles['Description']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Quantity')">{{columnTitles['Quantity']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Price')">{{columnTitles['Price']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Unit')">{{columnTitles['Unit']}}</a>
            </th>
            <th style="width: 100px"></th>
            <th style="width: 100px"></th>
            </thead>
            <tbody>
                <tr ng-repeat="product in store.products | orderBy:sortProperty:sortDescending | filter:compareItemToFilter">
                    <td class="productDescriptionCell">{{product.description}}</td>
                    <td class="numericItemCell">{{product.quantity}}</td>
                    <td class="numericItemCell">{{product.price}}</td>
                    <td class="numericItemCell">{{product.unit}}</td>
                    <td class="listItemEditInteractionCell"> <a class="listItemEditInteraction" href="" ng-click="editProduct(product)">Edit Product</a> </td>
                    <td class="listItemEditInteractionCell"> <a class="listItemEditInteraction" href="" ng-click="removeProduct(product)">Delete Product</a> </td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

