<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gettin Store Products</title>
    <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body ng-app="inventoryApplication">

    <div ng-controller="ProductsController">
        <h2>{{store.name}}</h2>

        <br />
        
        <div>
            <span> Filter: </span><input type="search" ng-model="filterSettings.filterText" />
            <span> Sort By: </span>
            <select ng-model="sortProperty">
                <option value="">Unsorted</option>
                <option value="price">Price </option>
                <option value="quantity">Quantity</option>
                <option value="description">Description</option>
                <option value="unit">Unit</option>
            </select>
            <a ng-hide="sortDescending" href="" ng-click="toggleSortDirection()">Sort Descending</a>
			<a ng-show="sortDescending" href="" ng-click="toggleSortDirection()">Sort Ascending</a>
        </div>
        
        <br />

        <table>
            <thead>
            <th class="productDescriptionCell">
                <a href="" ng-click="toggleFilteringForColumn('Description')">{{columnTitles['Description']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Quantity')">{{columnTitles['Quantity']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Price')">{{columnTitles['Price']}}</a>
            </th>
            <th class="numericItemCell">
                <a href="" ng-click="toggleFilteringForColumn('Unit')">{{columnTitles['Unit']}}</a>
            </th>
            </thead>
            <tbody>
                <tr ng-repeat="product in store.products | orderBy:sortProperty:sortDescending | filter:compareItemToFilter">
                    <td class="productDescriptionCell">{{product.description}}</td>
                    <td class="numericItemCell">{{product.quantity}}</td>
                    <td class="numericItemCell">{{product.price}}</td>
                    <td class="numericItemCell">{{product.unit}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="lib/custom/filterSettings.js"></script>
    <script src="Scripts/Controllers/ProductsController.js"></script>
</body>
</html>
