<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Gettin Store Products</title>
    
    <link rel="stylesheet" href="css/app.css" type="text/css" />
</head>
<body ng-app="inventoryApplication">

    <div ng-controller="ProductsController">
        <h2>{{store.name}}</h2>

        <br />
        
        <div>Sort list: 
            <select ng-model="sortProperty">
                <option value="">Unsorted</option>
                <option value="price">Price Ascending</option>
                <option value="-price">Price Descending</option>
            </select>
        </div>
        
        <br />

        <table>
            <thead>
            <th class="productDescriptionCell">Description</th>
            <th class="numericItemCell">Quantity</th>
            <th class="numericItemCell">Price</th>
            <th class="numericItemCell">Unit</th>
            </thead>
            <tbody>
                <tr ng-repeat="product in store.products | orderBy:sortProperty">
                    <td class="productDescriptionCell">{{product.description}}</td>
                    <td class="numericItemCell">{{product.quantity}}</td>
                    <td class="numericItemCell">{{product.price}}</td>
                    <td class="numericItemCell">{{product.unit}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <script src="lib/angular/angular.js"></script>
    <script src="Scripts/app.js"></script>
    <script src="Scripts/Controllers/ProductsController.js"></script>
</body>
</html>
